<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{object:Ad}"/>

	<f:form action="create"  enctype="multipart/form-data"  name="newEntry" object="{newEntry}">

		<div class="grid-row">
			<label for="falfeupload-entry-title">
				<f:translate key="tx_falfeupload_domain_model_entry.title" />
			</label>
			<f:form.textfield property="title" id="falfeupload-entry-title" />
		</div>

		<label for="falfeupload-entry-files">
			<f:translate key="falfeupload_actions_upload.submit.files" />
		</label>
		<div class="grid-row">
			<f:form.upload id="falfeupload-entry-files-1" name="file[0]" />
		</div>
		<div class="grid-row">
			<f:form.upload id="falfeupload-entry-files-2" name="file[1]" />
		</div>
		<div class="grid-row">
			<f:form.upload id="falfeupload-entry-files-3" name="file[2]" />
		</div>

		<f:form.submit value="{f:translate(key:'falfeupload_actions_upload.submit')}" />
	</f:form>
</f:section>